# User and Group IDs for file permissions
PUID=1000
PGID=1000

# Timezone (find yours at https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TZ=Etc/UTC

# qBittorrent
QBITTORRENT_WEBUI_PORT=8080

# Paths (relative to docker-compose.yml)
CONFIG_PATH=./config
DOWNLOADS_PATH=./downloads
MOVIES_PATH=./media/movies
TV_PATH=./media/tv
